.form-img{
  /* text-align: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}


/* Login */

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set background color and font styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* input[type="checkbox"] 
{
  vertical-align:middle;
} */

/* .container1 {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  letter-spacing: 1px;
}
input[type="checkbox"] {
  display: inline-block;
  vertical-align: top;
} */

/* .login-form {
  width: 500px;
  width: 35%; 
  margin: 0 auto; 
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */



/* .login-form h2 {
  margin-bottom: 20px;
  text-align: center;
} */

.form-group {
  margin-bottom: 20px;
}

/* .form-group label {
  display: inline-block;
  /* vertical-align: middle; 
  font-weight: normal;
} */

/* .form-group input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle; 
}

.form-group a {
  display: inline-block;
  vertical-align: middle; 
} */

/* .form-group input {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: rgb(59, 59, 59);
} */

.btn-login {
  width: 100%;
  padding: 18px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #0056b3;
}

.form-inline {
  display: flex;
  justify-content: space-between;
}

/* .email-icon {
  padding-right: 30px; 
  background-image: url("{% static 'images/' %}"); 
  background-repeat: no-repeat;
  background-position: right center; 
}

.password-icon {
  padding-right: 30px; 
  background-image: url("{% static 'images/' %}"); 
  background-repeat: no-repeat;
  background-position: right center; 
} */



/* Signup */

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set background color and font styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* .signup-form {
  width: 500px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

/* .signup-form h2 {
  margin-bottom: 20px;
  text-align: center;
} */

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: normal;
}

.form-group input {
  width: 100%;
  padding: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-signup {
  width: 100%;
  padding: 18px;
  font-size: 18px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-signup:hover {
  background-color: #0056b3;
}
