<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Link to your CSS file -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<!-- <body>
    <div class="login-form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
    </div>
</body> -->
<body>
    <div class="login-container">
        <form class="login-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h2>Sign in</h2>
            <!-- <h2>Log in with your Eagle Software account to
                continue</h2> -->
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            
            <button type="submit" class="btn-login">Login</button>
            {% if error_message %}
            <p>{{ error_message }}</p>
            {% endif %}
        </form>

    </div>
</body>
</html>
